<!-- model starts from here -->

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <h4 class="modal-title">Edit Section Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body container">
        <form action="#" name="edit-form">
          <div class="row">
            <label for="name" class="col">Enter Section Name </label>
            <input class="col mr-1" [(ngModel)]="node.data.name" [ngModelOptions]="{standalone: true}" id="name" autofocus required>
          </div>
          <div class="custom-control custom-switch text-center mt-3">
            <input type="checkbox" [checked]="node.data.isTerminal"
              (change)="node.data.isTerminal = !node.data.isTerminal" class="custom-control-input" id="switch1">
            <label class="custom-control-label" for="switch1">Terminal Section</label>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>